# SPDX-FileCopyrightText: 2026 Timofej Luitle
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Configure OIDC Provider app
  block:
    - name: Ensure OIDC Provider app is installed
      ansible.builtin.command:
        cmd: >-
          docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ app:enable oidc
      register: nextcloud_app_oidc_enabled_result
      changed_when: "'.' in nextcloud_app_oidc_enabled_result.stdout"

    - name: Ensure scope claims are configured correctly
      ansible.builtin.command:
        cmd: >-
          docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ config:app:set oidc {{ item }}
            --value "{{ nextcloud_oidc_claim_value }}"
      vars:
        nextcloud_oidc_claim_value: "{{ lookup('vars', 'nextcloud_oidc_' ~ item, default='gid') }}"
      register: nextcloud_oidc_claim_value_result
      changed_when: nextcloud_oidc_claim_value_result.stdout != "Config value were not updated"
      loop:
        - group_claim_type
        - role_claim_type

- name: Fail if required variables not defined for OIDC clients
  when:
    - nextcloud_oidc_clients[item[0]].enabled  | default(false) | bool
    - nextcloud_oidc_clients[item[0]][item[1]] | default('')    | length < 1
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ var_name }}`).
  vars:
    required_values:
      - redirect_uris
    var_name: "{{ 'nextcloud_oidc_clients.' ~ item[0] ~ '.' ~ item[1] }}"
  loop: "{{ nextcloud_oidc_clients | list | product(required_values) }}"

- name: Check if OIDC clients with defined client_id are already registered
  block:
    - name: List configured OIDC clients
      ansible.builtin.command: >-
        docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ oidc:list
      register: nextcloud_oidc_clients_result
      changed_when: false

    - name: Discover OIDC clients with defined client_id
      when: item_conf | length > 0
      ansible.builtin.set_fact:
        nextcloud_oidc_client_conf       : "{{ nextcloud_oidc_client_conf | default({}) | combine(client_conf) }}"
      vars:
        client_conf                      : "{{ { item: item_conf } }}"
        item_conf                        : "{{ nextcloud_oidc_clients_installed | json_query(nextcloud_oidc_clients_query) }}"
        nextcloud_oidc_clients_installed : "{{ nextcloud_oidc_clients_result.stdout | from_json }}"
        nextcloud_oidc_clients_query     : "[?client_id==`{{ client_vars_client_id }}`] | [-1]"
        client_vars_client_id            : "{{ nextcloud_oidc_clients[item].client_id | default('') }}"
      loop: "{{ nextcloud_oidc_clients | list }}"

    - name: Discover OIDC clients with defined client_name and other client_id
      when: item_homonyms | length > 0
      ansible.builtin.set_fact:
        nextcloud_oidc_homonyms           : "{{ nextcloud_oidc_homonyms           | default({}) | combine(homonyms)           }}"
        nextcloud_oidc_homonyms_redundant : "{{ nextcloud_oidc_homonyms_redundant | default({}) | combine(homonyms_redundant) }}"
      vars:
        homonyms                          : "{{ { item: item_homonyms } }}"
        homonyms_redundant                : "{{ { item: item_homonyms } }}"
        item_homonyms                     : "{{ nextcloud_oidc_clients_installed | json_query(nextcloud_oidc_homonyms_query) }}"
        nextcloud_oidc_clients_installed  : "{{ nextcloud_oidc_clients_result.stdout | from_json }}"
        nextcloud_oidc_homonyms_query     : "[?name==`{{ client_vars_name }}` && client_id!=`{{ client_vars_client_id }}`].client_id"
        client_vars_name                  : "{{ nextcloud_oidc_clients[item].client_name | default(item) }}"
        client_vars_client_id             : "{{ nextcloud_oidc_clients[item].client_id   | default('')   }}"
      loop: "{{ nextcloud_oidc_clients | list }}"

    - name: Select OIDC client with matching client_name
      when:
        - nextcloud_oidc_client_conf[item] | default('') | length < 1
        - nextcloud_oidc_homonyms[item]    | default([]) | length > 0
      ansible.builtin.set_fact:
        nextcloud_oidc_client_conf        : "{{ nextcloud_oidc_client_conf        | default({}) | combine(client_conf)        }}"
        nextcloud_oidc_homonyms_redundant : "{{ nextcloud_oidc_homonyms_redundant | default({}) | combine(homonyms_redundant) }}"
      vars:
        client_conf                       : "{{ { item: item_conf } }}"
        homonyms_redundant                : "{{ { item: nextcloud_oidc_homonyms[item][:-1] } }}"
        item_conf                         : "{{ nextcloud_oidc_clients_installed | json_query(nextcloud_oidc_clients_query) }}"
        nextcloud_oidc_clients_installed  : "{{ nextcloud_oidc_clients_result.stdout | from_json }}"
        nextcloud_oidc_clients_query      : "[?client_id==`{{ nextcloud_oidc_homonyms[item][-1] }}`] | [-1]"
      loop: "{{ nextcloud_oidc_clients | list }}"

- name: Identify OIDC clients to be updated
  block:
    - name: Set OIDC client configuration variables
      ansible.builtin.set_fact:
        nextcloud_oidc_client_vars : "{{ nextcloud_oidc_client_vars | default({}) |   combine(client_vars)  }}"
        nextcloud_oidc_client_conf : "{{ nextcloud_oidc_client_conf | default({}) |   combine(client_conf)  }}"
        nextcloud_oidc_protonyms   : "{{ nextcloud_oidc_protonyms   | default([]) + [ item_vars.client_id ] }}"
      vars:
        client_conf     : "{{ { item: item_conf } }}"
        client_vars     : "{{ { item: item_vars } }}"
        item_conf       : "{{ nextcloud_oidc_client_conf[item] | default('') }}"
        item_vars:
          enabled       : "{{ nextcloud_oidc_clients[item].enabled       | default(false,                      true) }}"
          name          : "{{ nextcloud_oidc_clients[item].client_name   | default(client_defs.name,           true) }}"
          redirect_uris : "{{ nextcloud_oidc_clients[item].redirect_uris | default(client_defs.redirect_uris,  true) }}"
          client_id     : "{{ nextcloud_oidc_clients[item].client_id     | default(client_defs.client_id,      true) }}"
          client_secret : "{{ nextcloud_oidc_clients[item].client_secret | default(client_defs.client_secret,  true) }}"
          jwt_alg       : "{{ nextcloud_oidc_clients[item].algorithm     | default(client_defs.jwt_alg             ) }}"
          flow_type     : "{{ nextcloud_oidc_clients[item].flow          | default(client_defs.flow_type           ) }}"
          type          : "{{ nextcloud_oidc_clients[item].type          | default(client_defs.type                ) }}"
          token_type    : "{{ nextcloud_oidc_clients[item].token_type    | default(client_defs.token_type          ) }}"
          allowed_scopes: "{{ nextcloud_oidc_clients[item].scopes        | default(client_defs.allowed_scopes      ) }}"
          email_regex   : "{{ nextcloud_oidc_clients[item].email_regex   | default(client_defs.email_regex         ) }}"
          resource_url  : "{{ nextcloud_oidc_clients[item].resource_url  | default(client_defs_resource_url        ) }}"
          verified      : false
        client_vars_defaults:
          name          : "{{ item }}"
          redirect_uris : ""
          client_id     : ""
          client_secret : ""
          jwt_alg       : "RS256"
          flow_type     : "code"
          type          : "confidential"
          token_type    : "opaque"
          allowed_scopes: "openid email profile"
          email_regex   : ""
          resource_url  : ""
        client_defs: "{{ item_conf if item_conf else client_vars_defaults }}"
        client_defs_resource_url: "{{ client_defs.resource_url | default('') }}"
      loop: "{{ nextcloud_oidc_clients | list }}"

    - name: Verify installed OIDC clients
      when:
        - client_vars.enabled | bool
        - client_conf | length > 0
        - client_conf.client_id      == client_vars.client_id     or client_vars.client_id     | length < 1
        - client_conf.client_secret  == client_vars.client_secret or client_vars.client_secret | length < 1
        - client_conf.name           == client_vars.name
        - client_conf.jwt_alg        == client_vars.jwt_alg
        - client_conf.flow_type      == client_vars.flow_type
        - client_conf.type           == client_vars.type
        - client_conf.token_type     == client_vars.token_type
        - client_conf.allowed_scopes == client_vars.allowed_scopes
        - client_conf.email_regex    == client_vars.email_regex
        - client_conf_resource_url   == client_vars.resource_url
        - client_conf_redirect_uris  == client_vars.redirect_uris
        - client_conf_redirect_uris_spaces | length < 1
      ansible.builtin.set_fact:
        nextcloud_oidc_client_vars: "{{ nextcloud_oidc_client_vars | combine({ item: client_vars }) }}"
      vars:
        client_vars                       : "{{ nextcloud_oidc_client_vars[item] | combine({'verified': true})  }}"
        client_conf                       : "{{ nextcloud_oidc_client_conf[item] }}"
        client_conf_redirect_uris_spaces  : "{{ client_conf.redirect_uris | join('') | regex_findall(' ') }}"
        client_conf_redirect_uris         : "{{ client_conf.redirect_uris | join(' ') }}"
        client_conf_resource_url          : "{{ client_conf.resource_url  | default('') }}"
      loop: "{{ nextcloud_oidc_clients | list }}"

- name: Ensure misconfigured OIDC clients are removed
  block:
    - name: Remove disabled or misconfigured OIDC client
      when:
        - client_conf | length > 0
        - not client_vars.verified
      ansible.builtin.command: |
        docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ oidc:remove \
          "{{ client_conf.client_id }}"
      vars:
        client_vars: "{{ nextcloud_oidc_client_vars[item] }}"
        client_conf: "{{ nextcloud_oidc_client_conf[item] }}"
      register: nextcloud_oidc_remove_clients
      changed_when: nextcloud_oidc_remove_clients.rc == 0
      loop: "{{ nextcloud_oidc_clients | list }}"

    - name: Register removal of OIDC client
      when: remove_client_result.changed
      ansible.builtin.set_fact:
        nextcloud_oidc_client_conf: "{{ nextcloud_oidc_client_conf | combine({item: ''}) }}"
      vars:
        remove_client_result: "{{ nextcloud_oidc_remove_clients.results | selectattr('item', 'eq', item) | last }}"
      loop: "{{ nextcloud_oidc_clients | list }}"

    - name: Remove redundant OIDC clients
      when: homonyms_redundant | default([]) | length > 0
      ansible.builtin.shell: |
        {% for homonym_client_id in homonyms_redundant %}
        docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ oidc:remove \
          "{{ homonym_client_id }}"
        {% endfor %}
      vars:
        homonyms_redundant : "{{ nextcloud_oidc_homonyms_redundant[item] | difference(nextcloud_oidc_protonyms) }}"
      register: nextcloud_oidc_remove_homonyms_result
      changed_when: nextcloud_oidc_remove_homonyms_result.rc == 0
      loop: "{{ nextcloud_oidc_clients | list }}"

- name: Ensure OIDC clients are installed correctly
  when:
    - client_vars.enabled | bool
    - client_conf | length < 1
  ansible.builtin.command: >-
    docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ oidc:create
           --algorithm="{{ client_vars.jwt_alg        }}"
                --flow="{{ client_vars.flow_type      }}"
                --type="{{ client_vars.type           }}"
          --token_type="{{ client_vars.token_type     }}"
      --allowed_scopes="{{ client_vars.allowed_scopes }}"
         --email_regex="{{ client_vars.email_regex    }}"
           --client_id="{{ client_vars.client_id      }}"
       --client_secret="{{ client_vars.client_secret  }}"
        --resource_url="{{ client_vars.resource_url   }}"
                       "{{ client_vars.name           }}"
                        {{ client_vars.redirect_uris  }}
  vars:
    client_vars: "{{ nextcloud_oidc_client_vars[item] }}"
    client_conf: "{{ nextcloud_oidc_client_conf[item] }}"
  register: nextcloud_oidc_create_clients
  changed_when: nextcloud_oidc_create_clients.rc == 0
  loop: "{{ nextcloud_oidc_clients | list }}"

- name: Confirm configuration
  block:
    - name: List installed OIDC clients
      ansible.builtin.command: >-
        docker exec --user={{ nextcloud_uid }}:{{ nextcloud_gid }} {{ nextcloud_identifier }}-server php /var/www/html/occ oidc:list
      register: nextcloud_oidc_clients_result
      changed_when: false

    - name: Discover OIDC clients with installed client_name
      when: item_inst | length > 0
      ansible.builtin.set_fact:
        nextcloud_oidc_client_inst: "{{ nextcloud_oidc_client_inst | default({}) | combine(client_inst) }}"
      vars:
        client_inst                      : "{{ { item: item_inst } }}"
        item_inst                        : "{{ nextcloud_oidc_clients_installed | json_query(nextcloud_oidc_clients_query) }}"
        nextcloud_oidc_clients_installed : "{{ nextcloud_oidc_clients_result.stdout | from_json }}"
        nextcloud_oidc_clients_query     : "[?name==`{{ client_vars_name }}`] | [-1]"
        client_vars_name                 : "{{ nextcloud_oidc_clients[item].client_name | default(item) }}"
      loop: "{{ nextcloud_oidc_clients | list }}"

    - name: Add message about missing credentials
      when:
        - create_client_result.changed or client_vars.verified
        - client_vars_client_credentials_missing
      ansible.builtin.set_fact:
        devture_playbook_runtime_messages_list: |
              {{
                devture_playbook_runtime_messages_list | default([])
                +
                [
                  nextcloud_oidc_client_credentials_msg
                ]
              }}
      vars:
        create_client_result: "{{ nextcloud_oidc_create_clients.results | selectattr('item', 'eq', item) | last }}"
        client_vars                            : "{{ nextcloud_oidc_client_vars[item] }}"
        client_inst                            : "{{ nextcloud_oidc_client_inst[item] | default('') if client_vars.verified else create_client_result.stdout | from_json }}"
        client_vars_client_credentials_missing : "{{ nextcloud_oidc_clients[item].client_id | default('') | length < 1 or nextcloud_oidc_clients[item].client_secret | default('') | length < 1 }}"
        nextcloud_oidc_client_credentials_msg  : |
          INFO

          Please add the new client credentials to your vars.yml file:

          nextcloud_oidc_clients:
            {{ item }}:
              client_id:     '{{ client_inst.client_id     }}'
              client_secret: '{{ client_inst.client_secret }}'

          /INFO
      loop: "{{ nextcloud_oidc_clients | list }}"
