{#
SPDX-FileCopyrightText: 2024 MASH project contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Runs app updates For Nextcloud ({{ nextcloud_identifier }})

[Service]
Type=oneshot
ExecStart={{ devture_systemd_docker_base_host_command_docker }} exec {{ nextcloud_identifier }}-server php /var/www/html/occ app:update --all --no-interaction
