{#
SPDX-FileCopyrightText: 2024 MASH project contributors

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Periodically update the apps for Nextcloud ({{ nextcloud_identifier }})

[Timer]
Unit={{ nextcloud_identifier }}-app-update.service
OnCalendar={{ nextcloud_auto_app_update_schedule }}

[Install]
WantedBy=timers.target
