[Unit]
Description=Runs app updates For Nextcloud ({{ nextcloud_identifier }})

[Service]
Type=oneshot
ExecStart={{ devture_systemd_docker_base_host_command_docker }} exec {{ nextcloud_identifier }}-server php /var/www/html/occ app:update --all --no-interaction
