{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Periodically launches the cronjobs for Nextcloud ({{ nextcloud_identifier }})

[Timer]
Unit={{ nextcloud_identifier }}-cron.service
OnCalendar={{ nextcloud_cron_schedule }}

[Install]
WantedBy=timers.target
